:root {
  --ppl-color: #754EF9;
  --ppl-btn-color-hover: #523EF1;
  --br-15: 15px;
}

.headPortfolio
{
	border: 1px solid var(--ppl-color);
	min-height: 100vh;
	border-bottom-width: var(--br-15) ;
	margin-top: -60px!important;
}

.tossinaHeader
{
	z-index: 9999!important;
}

.bg-app
{
	background-color:var(--ppl-color);
}

.btn-app
{
	background-color:var(--ppl-color);
	color: #ffffff!important;
}

.btn-app:hover
{
	background-color:var(--ppl-btn-color-hover);
}


.tossinaNav li a 
{
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
}

.oneCol
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.cercle1
{
	height: 513px;
	width: 513px;
	border: var(--br-15) solid var(--ppl-color);
	background-color: #fff;
	margin-right: -120px!important;
	padding: 65px 86px 80px 68px!important;
}

.cercle2
{
	height: 352px;
	width: 352px;
	border: var(--br-15) solid var(--ppl-color);
	background:url('../img/tossina.jpg') no-repeat top;
	background-size: 160%;
}